;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon Mar  9 16:21:36 2009
;; Desktop file format version 206
;; Emacs version 22.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/bla/my_projects/my_school/UZK1/trunk/Main.cpp"
  "Main.cpp"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/my_school/UZK1/trunk/Protocol/Modbus.cpp"
  "Modbus.cpp"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/my_school/UZK1/trunk/Protocol/Terminated.h"
  "Terminated.h"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 206
  "/home/bla/my_projects/my_school/UZK1/trunk/Protocol/Terminated.cpp"
  "Terminated.cpp"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 206
  "/home/bla/my_projects/my_school/UZK1/trunk/Protocol/Protocol.h"
  "Protocol.h"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/my_school/UZK1/trunk/Protocol/Modbus.h"
  "Modbus.h"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/my_school/UZK1/trunk/Lowlevel/Serial.cpp"
  "Serial.cpp"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/my_school/UZK1/trunk/Lowlevel/Lowlevel.h"
  "Lowlevel.h"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/my_school/UZK1/trunk/Interface/Interface.h"
  "Interface.h"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 206
  "/home/bla/my_projects/my_school/UZK1/trunk/Interface/Interface.cpp"
  "Interface.cpp"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 206
  "/home/bla/my_projects/my_school/UZK1/trunk/Config.h"
  "Config.h"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/my_school/UZK1/trunk/Config.cpp"
  "Config.cpp"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

